{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
  <form method="post">
    {% if error %}
      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
      <div class="mb-3">
        You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
      </div>
    {% endif %}

    <div class="w-4/5 m-auto text-center">
      <div class="py-12 border-b border-gray-200">
        <h1 class="text-6xl pt-12 pb-8">
          Login
        </h1>

        <input
          type="email"
          value="{{ last_username }}"
          name="email"
          id="inputEmail"
          class="bg-transparent block mt-10 mx-auto border-b-2 w-1/5 h-20 text-2xl outline-none"
          placeholder="Email"
          autocomplete="email"
          required
          autofocus
        >

        <input
          type="password"
          name="password"
          id="inputPassword"
          class="bg-transparent block mt-10 mx-auto border-b-2 w-1/5 h-20 text-2xl outline-none"
          autocomplete="current-password"
          placeholder="Password"
          required
        >

        <input
          type="hidden"
          name="_csrf_token"
          value="{{ csrf_token('authenticate') }}"
        >

        <button
          class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg w-1/5 mt-10 font-extrabold py-4 px-8 rounded-3xl"
          type="submit">
          Sign in
        </button>
      </div>
    </div>
  </form>
{% endblock %}
