{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
  <div class="w-4/5 m-auto text-center">
    <div class="py-12 border-b border-gray-200">
      <h1 class="text-6xl pt-12 pb-8">
        Register
      </h1>

      {{ form_start(registrationForm) }}
      {{ form_row(registrationForm.email) }}
      {{ form_row(registrationForm.plainPassword) }}

      {{ form_row(registrationForm.agreeTerms) }}

      <button
        type="submit"
        class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg w-1/5 mt-10 font-extrabold py-4 px-8 rounded-3xl">
        Register
      </button>

      {{ form_end(registrationForm) }}

    </div>
  </div>
{% endblock %}