{% extends "./base.html.twig" %}

{% block body %}
  <div class="sm:w-3/5 w-4/5 mx-auto">
    <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
      {{ movie.title }}
    </h1>

    <div class="py-10 text-center">
      <div class="inline-block sm:pt-1">
        <h2 class="font-bold">
          Created by: Miguel Medina
        </h2>

        <p class="text-sm text-gray-600">
          28-01-2022 4 min. read
        </p>
      </div>
    </div>

    <img
      src="{{ movie.imagePath }}"
      class="rounded-xl w-full shadow-xl"
      alt="Icon of Code With Dary"
    />

    <p class="text-xl py-6">
      {{ movie.description }}
    </p>

    <a
      href="/movies/edit/{{ movie.id }}"
      class="bg-green-500 font-bold py-2 px-4 rounded transition-all hover:bg-green-300">
      Edit Movie
    </a>

    <a
      href="/movies/delete/{{ movie.id }}"
      class="bg-red-500 font-bold py-2 px-4 ml-6 rounded transition-all hover:bg-red-300">
      Delete Movie
    </a>
  </div>
{% endblock %}